section.bonuses
    //- if name == 'best-betting'
    //-     include rare-bonuse
    //- if name == 'betting-offers'
    //-     include rare-bonuse
    //- if name == 'free-bets'
    //-     include rare-bonuse
    each item in bonuses
        .bonus.shadow
            .d-flex.d-flex-ai-start
                a(href="/" style=`background-color: ${item.color}`).bonus__logo.d-flex.d-flex-ai-center
                    img(src=item.img, alt="")
                .bonus__aside
                    p.p1.p1--bold.casino=item.name
                    p.h3!=item.title
                    p!=item.preview
            .bonus__bottom
                .d-flex.d-flex-ai-center.d-flex-jc-between
                    .info.d-flex.d-flex-ai-center
                        .info__column
                            p.p4.p4--semi-bold Turnover
                            p.p2.p2--bold 5X
                        .info__column
                            p.p4.p4--semi-bold Max W
                            p.p2.p2--bold ∞
                        .info__column
                            p.p4.p4--semi-bold Days Valid
                            p.p2.p2--bold 21
                    a(href="").btn-main.blue Claim Bonus
                .bonus__tc
                    p=item.tc