section.slots
    .content-block.block
        h2 Online Slots
        p The best bonuses offer both betting value and staker-friendly conditions, so take the guessing game out of your next bonus search and let us guide.
    each item in slots
        .slots__item.block
            .slots__head
                .d-flex.d-flex-ai-center
                    a(href="/").logo
                        img(src=item.slotImg, alt="")
                    .info
                        .d-flex.d-flex-ai-center
                            p.h3=item.slotTitle
                            <svg width="10" height="10">
                                <use xlink:href="./img/sprites.svg#icon-arrow"></use>
                            </svg>
                        p.provider Provider:
                            b=item.slotProvide
            .slots__tags
                .slots__tag
                    p.p3.p3--semi-bold RTP
                    p.p2.p2--bold 94.38%
                .slots__tag
                    p.p3.p3--semi-bold Volatility
                    p.p2.p2--bold High
                .slots__tag
                    p.p3.p3--semi-bold Game Type
                    p.p2.p2--bold Video Slots
                .slots__tag
                    p.p3.p3--semi-bold Established
                    p.p2.p2--bold 2020
            .bonus.block
                .d-flex.d-flex-ai-center
                    a(href="/" style=`background-color: ${item.bonusColor}`).bonus__logo.d-flex.d-flex-ai-center
                        img(src=item.bonusImg, alt="")
                    .bonus__aside
                        p.h3!=item.bonusTitle
                        p!=item.bonusPreview
                .bonus__bottom
                    .d-flex.d-flex-ai-center.d-flex-jc-between
                        .info.d-flex.d-flex-ai-center
                            .info__column
                                p.p4.p4--semi-bold Turnover
                                p.p2.p2--bold 5X
                            .info__column
                                p.p4.p4--semi-bold Max W
                                p.p2.p2--bold ∞
                            .info__column
                                p.p4.p4--semi-bold Days Valid
                                p.p2.p2--bold 21
                        a(href="").btn-main.blue Claim Bonus
                    .bonus__tc
                        p=item.bonusTc